@model TOT.Dto.ApplicationDto
@using Microsoft.AspNetCore.Identity
@using TOT.Entities
@using TOT.Interfaces.Services
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<TOT.Resources.Resources> Localizer
@inject IVacationService VacationService

<link rel="stylesheet" href="~/lib/bootstrap-select/css/bootstrap-select.min.css" />
<link rel="stylesheet" href="~/css/bootsrap-datepicker.css" />
<div class="row justify-content-between">
    <div class="container col-5">
        <h2 class="text-center">@Localizer["Apply for vacation"]</h2>
        <hr class="row  ml-0" />
        <form asp-action="Apply" name="form" id="form" method="post">

            <div class="form-group row">
                <label asp-for="VacationType" class="control-label col-4"></label>
                <select asp-for="VacationType" asp-items="@ViewBag.TimeOffTypeList" class="form-control col"></select>
                <span asp-validation-for="VacationType" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label class="control-label col-4">Date range</label>
                <div class="input-group input-daterange col row align-items-center justify-content-between" id="datepicker">
                    <div class="input-group-addon col-auto">from</div>
                    <input asp-for="StartDate" type="text" class="form-control col-auto mx-1" value=@DateTime.Now.ToString("dd-MM-yyyy")>
                    <div class="input-group-addon col-auto">to</div>
                    <input asp-for="EndDate" type="text" class="form-control col-auto mx-1" value=@DateTime.Now.ToString("dd-MM-yyyy")>
                </div>
                <span id="StartDateVal" asp-validation-for="StartDate" class="text-danger"></span>
                <span id="StartDateVal" asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="Notes" class="control-label col-4"></label>
                <div class="w-100"></div>
                <textarea asp-for="Notes" class="form-control col ml-3" rows="8"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="RequiredManagersEmails" class="control-label col-4">@Localizer["Managers"]</label>
                <select asp-for="RequiredManagersEmails" class="selectpicker col px-0" data-live-search="true" multiple>
                    @foreach (var item in ViewBag.AvailableManagers)
                    {
                        <option value="@item.Value" data-subtext="@item.Value">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="RequiredManagersEmails" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <input type="hidden" asp-for="UserId" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger row"></div>
            <div class="form-group row justify-content-center">
                <input class="btn btn-success col-2 mr-3" type="submit" value="Send" />
                <input class="btn btn-danger col-2 ml-3" type="button" value="Cancel" onclick="goBack()" />
            </div>
        </form>
    </div>
    <div class="col-3 d-flex flex-column align-items-center justify-content-center">
        @{
            var vacationDays = VacationService.GetVacationDays(Model.UserId);
        }
        <partial name="_VacationDaysPartial" model="vacationDays" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script>
        window.onload = runDatePicker();

        function goBack() {
            window.history.back();
        }

        function runDatePicker() {
            $('input-group, .input-daterange').datepicker({
                weekStart: 1,
                container: '#datepicker',
                format: 'dd-mm-yyyy'
            });
            $('.input-group, .input-daterange').datepicker();
        }
    </script>
}