@model TOT.Dto.VacationRequestDto

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>VacationRequestDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VacationType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VacationType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayFor(model => model.ManagersResponses)
        </dt>
        @foreach (var response in Model.ManagersResponses)
        {
            <dd>
                @Html.DisplayFor(model => response.Notes)
            </dd>
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
