@model TOT.Dto.VacationRequestDto
@using TOT.Interfaces.Services
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<TOT.Resources.Resources> Localizer
@inject IVacationService VacationService


<div class="row justify-content-between">
    <div class="container col-5">
        <h2 class="text-center">@Localizer["Vacation request from"]<br />@Model.User.FullName</h2>
        <hr class="row  ml-0" />
        <form action="Edit" name="form" id="form" method="post">
            @await Html.PartialAsync("_ApplyVacationPartial", Model.ApplicationDto)
        </form>
    </div>
    <div class="col-3 d-flex flex-column align-items-center justify-content-center">
        @{
            var vacationDays = VacationService.GetVacationDays(Model.User.Id);
        }
        <partial name="_VacationDaysPartial" model="vacationDays" />
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="saveChangesModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["Confirm changes"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@Localizer["Are you sure?"] @Localizer["This process cannot be undone"].</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">@Localizer["Cancel"]</button>
                <button type="button" class="btn btn-success" onclick="send()">@Localizer["Save changes"]</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script>
        window.onload = runDatePicker();
        @if (Model.Stage == 3)
        {
        <text>document.getElementById("requiredManagersEmails").disabled = true;</text>
        }

            function goBack() {
                window.history.back();
            }

            function confirm() {
            $('#saveChangesModal').modal();
            }

            function send() {
                var form = document.getElementById("form");
                form.submit();
            }

            function runDatePicker() {
            $('input-group, .input-daterange').datepicker({
                weekStart: 1,
                container: '#datepicker',
                format: 'dd-mm-yyyy'
            });
            $('.input-group, .input-daterange').datepicker();
        }
    </script>
}
