@model IEnumerable<TOT.Dto.VacationRequestListDto>

@{
    ViewData["Title"] = "List";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VacationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approval)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VacationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <div>
                    @{
                        if (item.Approval == null)
                        { <div> ? </div> }
                        if (item.Approval == false)
                        { <div> x </div> }
                        if (item.Approval == true)
                        { <div> + </div> }
                    }
                </div>
            </td>
            <td>
                <div class="row justify-content-end">
                    @{
                        @Html.ActionLink("Edit", "Edit", new { id = item.VacationRequestId }, new { @class = "btn btn-outline-dark form-control col-5 m-1" })
                        if (item.Approval == null)
                        { 
                            @Html.ActionLink("Delete", "Delete", new { id = item.VacationRequestId }, new { @class = "btn btn-outline-dark form-control col-5 m-1" })
                        }
                        else
                        { 
                            <p>Delete</p>
                        }
                    }
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
