@model VacationListViewModel

@{
    var vacations = @Model.Vacations.FirstOrDefault();
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => vacations.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => vacations.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => vacations.VacationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => vacations.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => vacations.Approval)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Vacations)
        {
            var deleteVacation = "deleteVacation" + item.VacationRequestId;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VacationType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @{
                        if (item.Approval == null)
                        { <div> In Process </div> }
                        if (item.Approval == false)
                        { <div> Declined </div> }
                        if (item.Approval == true)
                        { <div> Approved </div> }
                    }
                </td>
                <td>
                    <div class="row justify-content-end">
                        @{
                            @Html.ActionLink("Edit", "Edit", new { id = item.VacationRequestId }, new { @class = "btn btn-outline-dark form-control col-5 m-1" })
                            if (item.Approval == null)
                            {
                                //@Html.ActionLink("Delete", "Delete", new { id = item.VacationRequestId }, new { @class = "btn btn-outline-dark form-control col-5 m-1" })

                                <!--Разметка поплыла из-за смены кнопки Delete-->
                                <form asp-action="Delete" asp-route-id="@item.VacationRequestId" method="post">
                                    <button type="button" class="btn btn-outline-dark form-control col-5 m-1"
                                        data-toggle="modal" data-target="#@deleteVacation"
                                        data-whatever="@item.VacationRequestId">
                                    Delete
                                    </button>
                                    <!-- Delete window -->
                                    <div class="modal fade" id="@deleteVacation" tabindex="-1" role="dialog" aria-labelledby="deleteVacationLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteVacationLabel"><span><b>Are you sure?</b></span></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Candel">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        Do you really want to delete the vacation request for the following dates? <br />
                                                        <span><b>From:</b></span> @item.StartDate.ToShortDateString() &nbsp; <span><b>To:</b></span> @item.EndDate.ToShortDateString() <br />
                                                        <br />This process cannot be undone.
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    <input type="submit" value="Delete" class="btn btn-danger" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <button class="btn btn-outline-dark form-control col-5 m-1" disabled>Delete</button>
                            }
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
<a asp-action="List"
   asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
   class="btn btn-outline-dark">
    
    Prev
</a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="List"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
        Next
    </a>
}