@using TOT.Dto
@using System.Collections.Generic
@using System.Text.Json;
@using System.Text.Json.Serialization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<TOT.Resources.Resources> Localizer
@model VacationTimelineDto
@{
    ViewData["Title"] = "VacationTimeline";
    Queue<TemporalVacationRequestDto> requestsQueue = new Queue<TemporalVacationRequestDto>(Model.TemporalVacationRequests);
    Queue<ManagerResponseForTimelineDto> responsesQueue = new Queue<ManagerResponseForTimelineDto>(Model.ManagerResponseForTimelines);
    ManagerResponseForTimelineDto response = default;
    TemporalVacationRequestDto request = default;
    ManagerResponseForTimelineDto oldResponse = default;
    TemporalVacationRequestDto oldRequest = default;
    DateTime nextRequest = default;
    DateTime nextResponse = default;
    bool nextRequestExists = default;
    bool nextResponseExists = default;
    bool inverted = true;

    int currentRequestIndex = -1;
    int currentResponseIndex = -1;

    void getNextRequest()
    {

        if (requestsQueue.Any() == false)
        {
        }
        else
        {
            oldRequest = request;
            nextRequest = (nextResponseExists == true) ? request.ActionTime : DateTime.MinValue;
            request = requestsQueue.Dequeue();
            currentRequestIndex++;
        }
        nextRequestExists = requestsQueue.Any();
    }

    void getNextResponse()
    {

        if (responsesQueue.Any() == false)
        {
        }
        else
        {
            oldResponse = response;
            nextResponse = (nextResponseExists == true) ? response.DateResponse : DateTime.MinValue;
            response = responsesQueue.Dequeue();
            currentResponseIndex++;
        }
        nextResponseExists = responsesQueue.Any();
    }

    string invert()
    {
        if (inverted)
        {
            inverted = !inverted;
            return "timeline-inverted";
        }
        else
        {
            inverted = !inverted;
            return "";
        }


    }

    getNextRequest();
    getNextResponse();
}

<div class="container">
    <div class="page-header">
        <h2>@Localizer["Vacation Request Timeline"]</h2>
        <h2>@Localizer["The history of vacation approving"]</h2>
    </div>
    <ul class="timeline">
        @if (request.ExcelFormat == true)
        {
            <li class="@invert()">
                <div class="timeline-badge success"><div class="bi bi-success"></div></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">@Localizer["Your application has been approved"]</h4>
                    </div>
                    <div class="timeline-body">
                        <p>@Localizer["The application has been approved by admin and all needed stages have passed."]</p>
                    </div>
                </div>
            </li>
        }
        else
        {
            <li class="@invert()">
                <div class="timeline-badge primary"><div class="bi bi-clipboard"></div></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">@Localizer["Your application has been filed"]</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>@request.ActionTime</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>@Localizer["Your appication has been succesfully filed and transferred for admins for review. Wait the answer from admin"].</p>
                        <div class="timeline-details">
                            <button class="btn btn-info" onclick="showVacationRequestTable(@currentRequestIndex)">@Localizer["Show details"]</button>
                        </div>
                    </div>
                </div>
            </li>

            @while (true)
            {
                if (!(request.StageOfApproving == 1 && request.Approval == null && nextRequestExists != false))
                {
                    break;
                }
                getNextRequest();
                if (request.StageOfApproving == 2 || request.Approval == false)
                {
                    break;
                }
                <li class="@invert()">
                    <div class="timeline-badge warning"><div class="bi bi-warning"></div></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">@Localizer["Your details about application has been changed"]</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>@request.ActionTime</small></p>
                        </div>
                        <div class="timeline-body">
                            <p>@Localizer["Your details about application has been changed"].</p>
                            <div class="timeline-details">
                                <button class="btn btn-info" onclick="showComparisonTable(@currentRequestIndex-1,@currentRequestIndex)">@Localizer["Show details"]</button>
                            </div>
                        </div>
                    </div>
                </li>
            }
            @if (request.SelfCancelled == true)
            {
                <li class="@invert()">
                    <div class="timeline-badge danger"><div class="bi bi-cancelling"></div></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">@Localizer["The request has been cancelled"]</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>@request.ActionTime</small></p>
                        </div>
                        <div class="timeline-body">
                            <p>@Localizer["The appication has been cancelled by you"].</p>
                        </div>
                    </div>
                </li>
            }
            @if (request.StageOfApproving == 1 && request.Approval == false)
            {
                <li class="@invert()">
                    <div class="timeline-badge danger"><div class="bi bi-decliying"></div></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">@Localizer["The request has been declined"]</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>@response.DateResponse</small></p>
                        </div>
                        <div class="timeline-body">
                            <p>@Localizer["Your request has been declined by admin during accepting"].</p>
                            <div class="timeline-details">
                                <button class="btn btn-info" onclick="showManagerResponseTable(@currentResponseIndex)">@Localizer["Show details"]</button>
                            </div>
                        </div>
                    </div>
                </li>
            }
            else if (request.StageOfApproving == 2)
            {
                <li class="@invert()">
                    <div class="timeline-badge primary"><div class="bi bi-next-stage"></div></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">@Localizer["The application has been accepted"]</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>@request.ActionTime</small></p>
                        </div>
                        <div class="timeline-body">
                            <p>@Localizer["The application has been accepted by admin for further review"].</p>
                            <div class="timeline-details">
                                <button class="btn btn-info" onclick="showManagerResponseTable(@currentResponseIndex)">@Localizer["Show details"]</button>
                            </div>
                        </div>
                    </div>
                </li>

                getNextResponse();
                while (response.ForStageOfApproving == 2 && response.Approval == true && nextResponseExists != false)
                {
                    <li class="@invert()">
                        <div class="timeline-badge info"><div class="bi bi-accepting"></div></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">@Localizer["Manager accepting"]</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>@response.DateResponse</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>@Localizer["The manager"] @response.Manager.FullName @Localizer["has approved your request"].</p>
                                <div class="timeline-details">
                                    <button class="btn btn-info" onclick="showManagerResponseTable(@currentResponseIndex)">@Localizer["Show details"]</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    getNextResponse();
                }
                getNextRequest();
                if (request.SelfCancelled == true)
                {
                    <li class="@invert()">
                        <div class="timeline-badge danger"><div class="bi bi-cancelling"></div></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">@Localizer["The request has been cancelled"]</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>@request.ActionTime</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>@Localizer["The appication has been cancelled by you"].</p>
                            </div>
                        </div>
                    </li>
                }
                else if (response.ForStageOfApproving == 2 && response.Approval == null)
                {
                    <li class="@invert()">
                        <div class="timeline-badge primary"><div class="bi bi-waiting"></div></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">@Localizer["Waiting for responses from others managers"]</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>@DateTime.Now</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>@Localizer["Other managers have not answered yet. Please, wait"].</p>
                            </div>
                        </div>
                    </li>
                }
                else if (response.ForStageOfApproving == 2 && response.Approval == false)
                {
                    <li class="@invert()">
                        <div class="timeline-badge danger"><div class="bi bi-decliying"></div></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">@Localizer["Manager decliying"]</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>@response.DateResponse</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>@Localizer["The manager"] @response.Manager.FullName @Localizer["has declined your request. The application has been declined properly"].</p>
                                <div class="timeline-details">
                                    <button class="btn btn-info" onclick="showManagerResponseTable(@currentResponseIndex)">@Localizer["Show details"]</button>
                                </div>
                            </div>
                        </div>
                    </li>
                }
                else
                {
                    <li class="@invert()">
                        <div class="timeline-badge primary"><div class="bi bi-next-stage"></div></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">@Localizer["The application has been accepted by managers"]</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>@oldResponse.DateResponse</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>@Localizer["The application has been accepted by all managers and has been tranferred for final admin review"].</p>
                                <div class="timeline-details">
                                </div>
                            </div>
                        </div>
                    </li>
                    //getNextResponse();
                    @while (true)
                    {

                        if (!(request.StageOfApproving == 3 && request.Approval == null && nextRequestExists != false))
                        {
                            break;
                        }
                        getNextRequest();
                        if (request.StageOfApproving == 4 || request.Approval == false)
                        {
                            break;
                        }
                        <li class="@invert()">
                            <div class="timeline-badge warning"><div class="bi bi-warning"></div></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">@Localizer["Your details about application has been changed"].</h4>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>@request.ActionTime</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>@Localizer["Your details about application has been changed by admin"].</p>
                                    <div class="timeline-details">
                                        <button class="btn btn-info" onclick="showComparisonTable(@currentRequestIndex-1,@currentRequestIndex)">@Localizer["Show details"]</button>
                                    </div>
                                </div>
                            </div>
                        </li>

                    }
                    if (request.SelfCancelled == true)
                    {
                        <li class="@invert()">
                            <div class="timeline-badge danger"><div class="bi bi-cancelling"></div></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">@Localizer["The request has been cancelled"]</h4>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>@request.ActionTime</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>@Localizer["The appication has been cancelled by you"].</p>
                                </div>
                            </div>
                        </li>
                    }
                    else if (response.Approval == false && response.ForStageOfApproving == 3)
                    {
                        <li class="@invert()">
                            <div class="timeline-badge danger"><div class="bi bi-decliying"></div></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">@Localizer["Admin declying"]</h4>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>@response.DateResponse</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>@Localizer["The manager"] @response.Manager.FullName @Localizer["has declined your request with answer"]: "@response.Notes". @Localizer["The application has been declined properly"].</p>
                                    <div class="timeline-details">
                                        <button class="btn btn-info" onclick="showManagerResponseTable(@currentResponseIndex)">@Localizer["Show details"]</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                    else if (request.Approval == true)
                    {
                        <li class="@invert()">
                            <div class="timeline-badge success"><div class="bi bi-success"></div></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">@Localizer["Your application has been approved"]</h4>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>@request.ActionTime</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>@Localizer["The application has been approved by admin and all needed stages have passed."]</p>
                                </div>
                                <div class="timeline-details">
                                    <button class="btn btn-info" onclick="showManagerResponseTable(@currentResponseIndex)">@Localizer["Show details"]</button>
                                </div>
                            </div>
                        </li>
                    }
                }
            }
        }
    </ul>
</div>

<div class="modal" tabindex="-1" role="dialog" id="infoModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="infoModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">@Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>

@section css {
    <link rel="stylesheet" href="~/css/vacation/timeline.css" />
}

@section Scripts{
    <script>
        var vacationRequests = @Html.Raw(JsonSerializer.Serialize(Model.TemporalVacationRequests) as string);
        var managerResponses = @Html.Raw(JsonSerializer.Serialize(Model.ManagerResponseForTimelines) as string);
        function showVacationRequestTable(indexNumber) {
            let xhttp = new XMLHttpRequest();
            xhttp.open("POST", "VacationRequestTable", true);
            xhttp.onload = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var modal = $("#infoModal");
                    modal.find('#infoModalLabel').text("@Localizer["Vacation Request Table"]");
                    modal.find('#infoModalBody').html(this.responseText);
                    $("#infoModal").modal({ backdrop: true });
                }
            }
            xhttp.setRequestHeader("Content-Type", "application/json; charset=utf-8");;
            xhttp.send(JSON.stringify(vacationRequests[indexNumber]));
        }
        function showComparisonTable(oldIndexNumber, newIndexNumber) {
            let xhttp = new XMLHttpRequest();
            xhttp.open("POST", "ComparisonTable", true);
            xhttp.onload = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var modal = $("#infoModal");
                    modal.find('#infoModalLabel').text("@Localizer["Vacation Request Comparison Table"]");
                    modal.find('#infoModalBody').html(this.responseText);
                    $("#infoModal").modal({ backdrop: true });
                }
            }
            xhttp.setRequestHeader("Content-Type", "application/json; charset=utf-8");;
            xhttp.send(JSON.stringify([vacationRequests[oldIndexNumber], vacationRequests[newIndexNumber]]));
        }
        function showManagerResponseTable(indexNumber) {
            let xhttp = new XMLHttpRequest();
            xhttp.open("POST", "ManagerResponseTable", true);
            xhttp.onload = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var modal = $("#infoModal");
                    modal.find('#infoModalLabel').text("@Localizer["Manager Response Table"]");
                    modal.find('#infoModalBody').html(this.responseText);
                    $("#infoModal").modal({ backdrop: true });
                }
            }
            xhttp.setRequestHeader("Content-Type", "application/json; charset=utf-8");;
            xhttp.send(JSON.stringify(managerResponses[indexNumber]));
        }
    </script>
}