@model IEnumerable<TOT.Dto.ManagerResponseListDto>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<TOT.Resources.Resources> Localizer
@{
    ViewData["Title"] = "Processed";
}

<h3>Processed requests</h3>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.Employee)]
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.VacationType)]
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.StartDate)]
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.EndDate)]
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.Approval)]
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VacationType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @{
                        if (item.Approval == false)
                        {
                            <div> @Localizer["Declined"] </div>
                        }
                        if (item.Approval == true)
                        {
                            <div> @Localizer["Approved"] </div>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
