@using Microsoft.AspNetCore.Identity
@using TOT.Entities
@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<TOT.Resources.Resources> Localizer
@{
    var permission = User.IsInRole("Administrator");
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User) && permission)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @Localizer["Admin"]
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-controller="Admin" asp-action="UserList">@Localizer["List of users"]</a>
            <a class="dropdown-item" asp-controller="Admin" asp-action="Create">@Localizer["Create user"]</a>
            <a class="dropdown-item" asp-controller="Admin" asp-action="VacationList">@Localizer["Vacation requests"]</a>
            <a class="dropdown-item" asp-controller="Admin" asp-action="VacationCalendar">@Localizer["Vacation calendar"]</a>
        </div>
    </li>
}