@model IEnumerable<TOT.Dto.ApplicationUserListDto>

@{
    ViewData["Title"] = "UserList";
}

<h3>Users List</h3>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var deleteUser = "deleteUser" + item.Id;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                        @Html.ActionLink("Profile", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-outline-dark" })
                        <button type="button" class="btn btn-sm btn-outline-danger"
                                data-toggle="modal" data-target="#@deleteUser"
                                data-whatever="@item.Id">
                            Delete
                        </button>
                        <!-- Modal window -->
                        <div class="modal fade" id="@deleteUser" tabindex="-1" role="dialog" aria-labelledby="deleteUserLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteUserLabel"><span><b>Are you sure?</b></span></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Candel">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Do you really want to delete user <span><b>@item.FullName</b></span>? This process cannot be undone.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn-outline-dark" data-dismiss="modal">Cancel</button>
                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>