@model TOT.Web.Models.PaginatedList<TOT.Dto.UserInformationListDto>
@using PagedList.Mvc;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<TOT.Resources.Resources> Localizer
@{
    var users = @Model.FirstOrDefault();
}

<h3>@Localizer["Users List"]</h3>
<br />
<div class="row justify-content-end mb-3">
    <div class="col-6">
        <form asp-action="List" method="get">
            <div class="row col-12">
                <label for="searchName" class="col-4">@Localizer["Find by name"]:</label>
                <input type="text" id="searchName" name="SearchString" value="@ViewData["NameSortParm"]" class="form-control col" />
            </div>
            <div class="row col-12 justify-content-end p-2">
                <input type="submit" value=@Localizer["Search"] class="col-3 btn btn-outline-dark" />
                <a class="col-4 btn btn-outline-dark ml-1" asp-action="List">@Localizer["Back to Full List"]</a>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => users.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => users.RoleNames)
            </th>
            <th>
                @Html.DisplayNameFor(model => users.RecruitmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => users.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => users.Team)
            </th>
            <th>
                @Localizer["Action"]
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var deleteUser = "deleteUser" + item.Id;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleNames)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecruitmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team.Name)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                        @Html.ActionLink("Profile", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-outline-dark" })
                        @Html.ActionLink("Edit days", "EditVacationDays", new { id = item.Id }, new { @class = "btn btn-sm btn-outline-dark" })
                        <button type="button" class="btn btn-sm btn-outline-danger"
                                data-toggle="modal" data-target="#@deleteUser"
                                data-whatever="@item.Id">
                            @Localizer["Delete"]
                        </button>
                        <!-- Modal window -->
                        <div class="modal fade" id="@deleteUser" tabindex="-1" role="dialog" aria-labelledby="deleteUserLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteUserLabel"><span><b>@Localizer["Are you sure?"]</b></span></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Candel">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>@Localizer["Do you really want to delete user"] <span><b>@item.FullName</b></span>? @Localizer["This process cannot be undone"].</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer["Cancel"]</button>
                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="UserList"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-searchString="@ViewData["NameSortParm"]"
   class="btn btn-outline-dark @prevDisabled">
    @Localizer["Previous"]
</a>
<a asp-action="UserList"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-searchString="@ViewData["NameSortParm"]"
   class="btn btn-outline-dark @nextDisabled">
    @Localizer["Next"]
</a>